@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	width:100%;
	min-height:100vh;
	height:100%;
}

.home_main_wrapper{
	background: radial-gradient(#03ccff, #03b5ffa3, #0381ff);
}
.main_wrapper{
/* 	background: #daeafa; */
	background: #daeafa url(../../assets/images/main-wrap.svg);
    background-size: 100%;
    background-position: center;
}
.home_screen_content, .quiz_categroy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	min-height:100vh;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
.inner_content_screen {
	width:50%;
}
.main_title {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 4px 2px #004080;
}
.home_content_left p {
    color: #fff;
    margin: 1rem 0;
    line-height: 1.35;
    letter-spacing: .5px;
    font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}
