<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static',filename='styles/favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="home_main_wrapper">
      <div class="home_screen_content">
        <div class="inner_content_screen home_content_left">
          <h2 class="main_title">Welcome to Quiz Competition</h2>
          <p>
            A quiz is a form of game or mind sport, in which the players (as
            individuals or in teams) attempt to answer questions correctly. ...
            In some countries, a quiz is also a brief assessment used in
            education and similar fields to measure growth in knowledge,
            abilities, and/or skills.
          </p>
          <a href="acl" class="custom_btn">Start Here</a>
        </div>
        <div class="inner_content_screen home_content_right">
          <img src="../static/images/home-vector1.svg" alt="icon_home" />
        </div>
      </div>
    </div>
  </body>
</html>
